<div class="action-main">
  <!--    KURALLAR
  <div class="alert alert-dark infoBox" role="alert">
    <div class="row">
      <span>
        <img src="../../../assets/img/info.png" width="20" height="20">
        If you do leave blank in table property and functions, it is assigned public and void by default.
      </span>
    </div>
  </div>
-->
  <div class="row" style="margin: 0px">
    <div class="col">
      <p class="btn btn-success" style="cursor:pointer; bottom: 40px" (click)="openModal(content)">Add Object</p>
    </div>
    <div class="col">
      <!--
      <p class="btn btn-success" style="cursor:pointer; bottom: 40px" (click)="viewTables()">Göster</p>
      -->
    </div>
    <div class="col">
      <p class="btn btn-success" style="cursor:pointer; bottom: 40px" (click)="startDependencySelect()">Add Dependency</p>
    </div>
  </div>


  <div class="alert alert-dark dependencyBox" role="alert">
    <p class="dependencyListTitle">Dependencies</p>
    <div class="row dependencyListItem" *ngFor="let dependency of dependencies">
      <div class="col item" style="margin-top: 3px;">
        <span>{{dependency.from.name}}</span>
      </div>
      <div class="col item" style="text-align: center;">
        <img *ngIf=" dependency.relation === 'extends'" src="../../../assets/img/extendsDependency.PNG">
        <img *ngIf=" dependency.relation === 'implements'" src="../../../assets/img/implementsDependency.PNG">
      </div>
      <div class="col item" style="margin-top: 3px;">
        <span>{{dependency.destination.name}}</span>
      </div>
      <div class="col item">
        <img (click)="deleteDependency(dependency)" style="cursor: pointer" src="../../../assets/img/deleteIcon.png">
      </div>
    </div>
  </div>

  <div class="row" style="margin: 0px !important;">
      <!-- .slideThree -->
      <div class="slideThree">
        <input type="checkbox" value="None" [(ngModel)]="isConstructor" id="slideThree" name="check" />
        <label for="slideThree"></label>
      </div>
      <!-- end .slideThree -->
      <span style="margin-left: 5px; color: white;">Constructor</span>
  </div>

  <div class="row" style="margin: 0px; margin-top: 10px;">
    <!-- .slideThree -->
    <div class="slideThree">
      <input type="checkbox" value="None" [(ngModel)]="isGetterSetter" id="slideThree2" name="check" />
      <label for="slideThree2"></label>
    </div>
    <!-- end .slideThree -->
    <span class="settingFormLabels">Getter-Setter Methods</span>
  </div>

  <div class="row" style="margin: 0px; margin-top: 10px;">
    <!-- .slideThree -->
    <div class="slideThree">
      <input type="checkbox" value="None" [(ngModel)]="isLombok" id="slideThree3" name="check" />
      <label for="slideThree3"></label>
    </div>
    <!-- end .slideThree -->
    <span style="margin-left: 5px; color: white;">Lombok Support
      <a href="https://www.baeldung.com/intro-to-project-lombok" target="_blank">
        <img src="../../../assets/img/info-icon.png" width="15" height="15">
      </a>
    </span>
  </div>

  <div class="row" style="margin: 0px; margin-top: 15px;">
    <div class="col">
      <div class="form-check">
        <label>
          <input type="radio" style="display: none" [formControl]="language" value="java" checked>
          <span class="label-text settingFormLabels" style="cursor: pointer;">Java</span>
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-check">
        <label>
          <input type="radio" style="display: none" [formControl]="language" value="cSharp">
          <span class="label-text settingFormLabels" style="cursor: pointer;">C#</span>
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-check">
        <label>
          <input type="radio" style="display: none" [formControl]="language" value="php" >
          <span class="label-text settingFormLabels" style="cursor: pointer;">Php</span>
        </label>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 15px;">
    <div class="col" style="padding-left: 10%; padding-right: 10%">
      <p *ngIf="!loading" class="btn btn-success generateButton" style="cursor:pointer;" (click)="generate()">
        <img src="../../../assets/img/generateIcon.png" width="25" height="25"> Generate Classes
      </p>
      <p *ngIf="loading" class="btn btn-success generateButton" style="cursor:pointer;">
        <img src="../../../assets/gif/loading.gif" width="30" height="30">
      </p>
    </div>
  </div>




  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">New Object</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label for="inputEmail3" style="font-family: sans-serif" class="col-sm-12 col-form-label">Please input object name</label>
      <div class="form-group row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <input [(ngModel)]="objectName" type="email" class="form-control" id="inputEmail3" placeholder="Name" required>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <label for="inputEmail3" style="font-family: sans-serif" class="col-sm-12 col-form-label">Please select object type</label>
      <div class="form-group row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <select class="custom-select" [(ngModel)]="objectType" required>
            <option value="1" selected>Class</option>
            <option value="2">Interface</option>
          </select>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="addTable()">Ok</button>
      <button type="button" class="btn btn-danger" (click)="closeCentered()">Close</button>
    </div>
  </ng-template>



</div>



