<div class="movable-main">
  <div class="movable-area-box" abeMovableArea>
    <svg width="90%" style="min-height: 700px; position: absolute;">
      <line *ngFor="let dependency of dependencies"
            [attr.x1] = "getX1('table'+dependency.from.id)"
            [attr.y1] = "getY1('table'+dependency.from.id)"
            [attr.x2] = "getX2('table'+dependency.destination.id)"
            [attr.y2] = "getY2('table'+dependency.destination.id)"
            stroke = "brown"
            stroke-width="2px"
      />
    </svg>
    <div *ngFor="let table of tables" class="dragItem"
         [attr.id] = " 'table'+table.id "
         [ngStyle]="getCustomStyle(table)"
         (click)="addDependency(table)" abeMovable>
      <p class="baslik">
        <span style="float: left;">
          {{table.name}}
        </span>
        <span style="float: right;">
          <img (click)="deleteTable(table)" style="cursor:pointer;" src="../../../assets/img/deleteIcon.png" width="15" height="15">
        </span>
        <span style="float: right; margin-right: 3px;">
          {{table.type}}
        </span>
      </p>
      <hr class="baslikCizgisi"/>
      <p class="baslik">
        <span style="float: left;">
          Properties
        </span>
        <span style="float: right; margin-right: 3px;">
          <img (click)="addProperty(table)" style="cursor:pointer; margin-left: 3px;" src="../../../assets/img/addicon.png" width="17" height="17">
        </span>
      </p>
      <table>
        <tr *ngFor="let property of table.properties">
          <td>
            <select id="inputState" style="margin-top: 1px;" [(ngModel)]="property.access">
              <option value="+" selected>+</option>
              <option value="-">-</option>
            </select>
            <!--
            <input placeholder="+/-" style="width: 15px;" size="1" type="text" class="inputs" maxlength="1" type="text" [(ngModel)]="property.access">
            -->
          </td>
          <td>
            <input placeholder="name" style="width: 85px;" type="text" class="inputs" [(ngModel)]="property.name">
          </td>
          <td>
            :
          </td>
          <td>
            <input placeholder="type" style="width: 60px;" type="text" class="inputs" [(ngModel)]="property.type">
          </td>
          <td>
            <img (click)="deleteProperty(table,property)" style="cursor:pointer;" src="../../../assets/img/remove.png" width="15" height="15">
          </td>
        </tr>
      </table>
      <hr class="baslikCizgisi"/>
      <p class="baslik">
        <span style="float: left;">
          Functions
        </span>
        <span style="float: right; margin-right: 3px;">
          <img (click)="addFunction(table)" style="cursor:pointer; margin-left: 3px;" src="../../../assets/img/addicon.png" width="17" height="17">
        </span>
      </p>
      <table>
        <tr *ngFor="let fun of table.functions">
          <td>
            <select style="margin-top: 1px;" [(ngModel)]="fun.access">
              <option value="+" selected>+</option>
              <option value="-">-</option>
            </select>
            <!--
            <input style="width: 15px;" size="1" type="text" class="inputs" maxlength="1" type="text" [(ngModel)]="fun.access">
            -->
          </td>
          <td>
            <input placeholder="name" style="width: 85px;" type="text" class="inputs" [(ngModel)]="fun.name">
          </td>
          <td>
            :
          </td>
          <td>
            <input placeholder="return" style="width: 60px;" type="text" class="inputs" [(ngModel)]="fun.type">
          </td>
          <td>
            <img (click)="deleteFunction(table,fun)" style="cursor:pointer;" src="../../../assets/img/remove.png" width="15" height="15">
          </td>
        </tr>
      </table>
      <hr class="baslikCizgisi"/>
    </div>
  </div>
</div>

